{% extends 'index.html' %}

{% block titulo %}
    INVENTARIO | Listado de de Categorias
{% endblock titulo %}

{% block body%}
{% if categorias %}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Listado de Categorias</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Departamento</th>
                  <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for categoria in categorias %}
                <tr>
                  <td>{{ categoria.name_Category }}</td>
                  <td>{{ categoria.department }}</td>
                
                  <td>
                   <a href="{% url 'articulo:editar_categoria' categoria.id %}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'articulo:eliminar_categoria' categoria.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
                  
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
  <h1>No existen Categorias registradas</h1>
{% endif %}

<div class="modal fade" id="edicion" role="dialog">

</div>

{% block extrajs %}
    
{% endblock extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function open_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show');
        });
    }
</script>

{% endblock body %}

    