{% extends 'base.html' %}
{% load static %}
{% block title %}
Enfermo::Estado de Salud
{% endblock title %}
    
{% block container %}
<nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top p-3 mb-5" ">
    <div class="container">
        <a href="../index.html"
         ><img  src="{% static 'images/logo.png' %}" width="100px" height="60px"
       /></a>
       <ul class="navbar-nav ms-auto">
          
        
        <li class="nav-item  dropdown">
          <a class="nav-link text-dark fw-bold fst-italic dropdown-toggle align-items-center ms-auto" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            <img src="{{ user.avatar.url}}" alt="" width="60" height="60" class="rounded-circle">

            {{ user.first_name| upper }}
          </a>
          <ul class="dropdown-menu ms-auto" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'ruta:crear_nino'%}">Registrar Nino</a></li>
            <li><a class="dropdown-item" href="#">Listado de Niños</a></li>
            <li><a class="dropdown-item" href="{% url 'usuario:logout' %}">Salir</a></li>
        </ul>
</div>

</nav>   
    <div class="pt-5 mt-5">
    
 
<div class="container">

    
    
    <div class="row">
        <h1 class="text-center fw-bold text-primary mt-3 mb-1">Bienvenido al home</h1>

        <div class="col-12 col-md-8 mx-auto mt-5 d-md-flex">
            <div class="card me-md-2" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/edit.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="60px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{% url 'ruta:comenzar' %}" class="btn btn-primary">Comenzar</a>
                  </center>
                </div>
              </div>
            </div>
            <div class="card me-md-2" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/estados.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="140px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:estado'%}" class="btn btn-primary">Estado</a>
                  </center>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/hora.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="100px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:horarios' %}" class="btn btn-primary">Horarios</a>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mx-auto d-md-flex mt-2">
            <div class="card me-md-2" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/nino2.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="60px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:elige'%}" class="btn btn-primary">¿Como Estas?</a>
                  </center>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/preguntando.jpg' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="40px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:ayuda' %}" class="btn btn-primary">Ayuda</a>
                  </center>
                </div>
              </div>
            </div>
          </div>

        <!-- <div class="col-6">
            <a href="{% url 'ruta:comenzar' %}">comenzar</a>
        </div>
        <div class="col-6">
            <a href="{%  url 'ruta:elige'%}">Solo,¿Como Estas?</a>
        </div>
    </div>
    
    <div class="row-cols-xs-4">
        
        <div class="col-xs-12">
            <span class="clearfix"></span>
            <div class=" center-block">

                <a href="{%  url 'ruta:estado'%}">estado</a>
            </div>
        </div>
        
    </div>
    <div class="row">
        
        <div class="col-6">
            <a href="{%  url 'ruta:horarios' %}">horarios</a>
        </div>
        <div class="col-6">
            <a href="{%  url 'ruta:ayuda' %}">ayuda</a>
        </div> -->
    </div>
</div>
</div>
<!-- footer donde se hubica el copyright -->
<footer
class="pie-de-pagina bg-primary bg-opacity-25 text-center fixed-bottom"
>
<p class="m-0 py-3">Copyright @ 2021. Todos los derechos reservados</p>
</footer>
    {% endblock container %}