{% extends 'base.html' %}
{% load static %}
{% block title %}
    RUTISMO:::HOME
{% endblock title %}
    
{% block container %}
 
    <div class="pt-5 mt-5">
    
 
<div class="container">

    
    
    <div class="row">
        <h1 class="text-center fw-bold text-primary mt-3 mb-1">Bienvenido  {{ user.first_name| upper }}</h1>

        <div class="col-12 col-md-8 mx-auto mt-5 d-md-flex">
            <div class="card me-md-2" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/edit.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="60px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{% url 'ruta:comenzar' %}" class="btn btn-primary">Comenzar</a>
                  </center>
                </div>
              </div>
            </div>
            <div class="card me-md-2" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/estados.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="140px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:estado'%}" class="btn btn-primary">Estado</a>
                  </center>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/horario.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="100px"
                />
              </center>
              <div class="card-body">
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:horarios' %}" class="btn btn-primary">Horarios</a>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mx-auto d-md-flex mt-2">
            <div class="card me-md-2" style="width: 18rem">
              <center>
                <img
                  src="{% static 'images/nino2.png' %}"
                  class=""
                  alt="..."
                  height="80px"
                  width="60px"
                />
              </center>
              <div class="card-body" >
                <div class="card-footer">
                  <center>
                    <a href="{%  url 'ruta:elige'%}" class="btn btn-primary">¿Como Estas?</a>
                  </center>
                </div>
              </div>
            </div>



    
    </div>
</div>
</div>
<!-- footer donde se hubica el copyright -->

    {% endblock container %}
    