{% extends 'index.html' %}

{% block titulo %}
    RUTISMO:::HOME
{% endblock titulo %}
    
      {% block Container %}
        
    
    <H1>Este es el futuro home</H1>
    
    
    <div class="container">
        <a href="{% url 'ruta:comenzar' %}">comenzar</a>
    </div>
    
    <div class="container">
        <a href="{%  url 'ruta:elige'%}">elige</a>
    </div>
    
    <div class="container">
        <a href="{%  url 'ruta:estado'%}">estado</a>
    </div>
    
    <div class="container">
        <a href="{%  url 'ruta:horarios' %}">horarios</a>
    </div>
    <div class="container">
        <a href="{%  url 'ruta:ayuda' %}">ayuda</a>
    </div>
      {% endblock Container %}
