{% extends 'base.html' %}
{% load static %}
    
    {% block container %}
    
    
    <div class="container">
        <div class="row">
            <div class="col-6">

                <h1>Login</h1>
                <a href="{% url 'usuario:login' %}">aqui</a>
            </div>
            <div class="col-6">
                
                <h1>Estudiante</h1>
                <a href="{% url 'ruta:dasboard' %}">aqui</a>
            </div>
        </div>
    </div>
    
    
        
    {% endblock container %}
        
 