{% extends 'base.html' %}
{% load static %}
    
    {% block container %}

    <div class="container">
        <div class="abs-center" style="text-align: center;">
            <div>
                <div class="card text-black" style="background-color: #c2daff; width: 500px; height: 550px; border-radius: 10%;">
                    <div class="text-center">
                        <img src="{% static '/images/logo.png' %}" style="width: 140px; margin-top: 10px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Creando rutas para los buenos habitos</h4>
                    </div>
            
                    <div>
                        <div>
                            <div>
                                <a title="Login" href="{% url 'usuario:login' %}">
                                    <img id="login" src="{% static '/images/login.jpg' %}" style="width: 300px; height: 300px; border-radius: 15%; box-shadow: 2px 2px 5px #999;" alt="login">
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
            
    {% endblock container %}
        
 