{% extends 'base.html' %}

{% block title %}
    Elige::Estado de Animo
{% endblock title %}
    

      {% block container %}
    <h1>Registro</h1>

    <form method="post">{% csrf_token %}
        
        
            
        
        <div class="mb-3">
            <label for="" class="form-label"></label>
            <input type="{{field.field.widget.input_type}}">
            
        </div>
        {% endfor %}
        <input type="submit" value="guardar">
        <input type="reset" value="Atras" >

    </form>

      {% endblock container %}