{% extends 'base.html' %}
{% load static %}
{% block title %}
    Elige::Estado de Animo
{% endblock title %}
    

      {% block container %}
    <h1>Registro de Usuario</h1>
  <div class="container">

    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {% if form.errors %}
        <div class="col-12 help-text">
          
          {{ form.errors }}</h2>
        </div><h2>
      {% endif %}     
      
      {% for field in form  %}
      <div class="mb-3"></div>
      <label for="" class="form-label">{{field.label}}</label>
      
      <input type="{{ field.field.widget.input_type }}"
       class="form-control" 
       name="{{ field.name }}" 
       placeholder="{{ field.label }}" />
      
 
      {% endfor %}
      <br>
      <div class="text-center pt-1 mb-5 pb-1">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Registrar</button>
        <button class="btn btn-primary btn-danger fa-lg mb-0" type="button" role="link" onclick="window.location='{% url 'usuario:login'%}'"> Cancelar </button>
                            
      </div>
      
    </form>
  </div>
    
      {% endblock container %}