{% extends 'home.html' %}
{% load static %}


{% block container %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
      <h1>Bienvenido {{ user.first_name| upper }}, Registro de Niños</h1><br>
      {% if error %}  
        <div class="col-12 help-text">
          
          {{ form.errors }}</h2>
        </div><h2>
      {% endif %}     
          
          
        {{ form.as_p }}

        <div style="text-align: center;">
          <input class="btn btn-primary" type="submit" value="Guardar">

          <button class="btn btn-danger" type="button" role="link" onclick="window.location='{% url 'ruta:dasboard' %}'">Atras</button>
        </div>

    </form>
    <script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script> 

{% endblock container %}
    